{
  "account": "",
  "password": "",
  "download_home": "pvt",
  "base_url": "https://pvtbuilds.mozilla.org/pvt/mozilla.org/b2gotoro/nightly/",
  "build_id_format": "/{year}/{month}/{year}-{month}-{day}-{hour}-{min}-{sec}/"
}

