# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Default

*~
*.zip
*.tar.gz
VERSION
VERSION-DESKTOP
version
b2g*
gaia*
mozilla-profile/*
crashreports.txt
.DS_Store
user.js
size.txt
sizeDiff.txt
dir
.TWCI_DL_LIST.conf
.ldap

